body{
background-image: url(./img/fondo.jpg);
object-fit: cover;
}
.App {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}

.App-header {
  min-height: 100px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  font-size: calc(6px + 2vmin);
  color: white;
  gap: 40px;
  opacity: 80%;
}
